/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* TIMER */

body {
  padding: 36px 0 0 156px;
  font-family: Montserrat;
}

#datetime-picker {
  width: 272px;
  border-radius: 4px;
  background: #FFF;
  border: 1px solid #808080;
  padding: 8px 16px;
  color: #2E2F42;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;
}

#datetime-picker:hover {
  border: 1px solid #000;
}

#datetime-picker:active,
#datetime-picker:focus {
  border: 1px solid #4E75FF;
  outline: transparent;
}

[data-start] {
  display: inline-block;
  padding: 8px 16px;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border: transparent;
  border-radius: 8px;
  background: #4E75FF;
  height: 43px;
  margin-left: 8px;
  cursor: pointer;
}

[data-start]:hover {
  background: #6C8CFF;
}

[data-start]:disabled {
  color: #989898;
  background: #CFCFCF;
  cursor: not-allowed;
}


.timer {
  display: flex;
  gap: 24px;
  margin-top: 40px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  color: #2E2F42;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 1.6px;
}

.label {
  color: #2E2F42;
  font-size: 16px;
  line-height: 24px;
}


/* SNACKBAR */

.form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.form>label {
  display: flex;
  flex-direction: column;
}

[type="number"] {
  margin-bottom: 16px;
  margin-top: 8px;
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
  outline: transparent;
}

[type="number"]:hover {
  border: 1px solid #000;

}

[type="number"]:active,
[type="number"]:focus {
  border: 1px solid #4E75FF;
}

fieldset {
  margin-bottom: 24px;
  width: 360px;
  height: 64px;
  flex-shrink: 0;
  border: 1px solid #808080;
  border-radius: 4px;
  display: flex;
  gap: 48px;
  align-items: center;
  justify-content: center;
}

fieldset:hover {
  border: 1px solid #000;
}

[type="submit"] {
  width: 392px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #4E75FF;
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border: transparent;
  cursor: pointer;
}

[type="submit"]:hover {
  background-color: #6C8CFF;
}
